.printer-container {
  background-color: #f4f4f4;
  padding: 30px;
  color: black;
}

.printer-main {
  padding: 30px;
  border-radius: 20px;
}

.printer-content {
  background-color: white;
  display: flex;
  gap: 50px;
  border-radius: 10px;
}

.left-panel,
.right-panel {
  width: 100%;
  padding: 20px;
}

/* Left panel */
.upload-section {
  margin-bottom: 20px;
}

.upload-container {
  text-align: center;
  padding: 40px;
  border: 2px dashed #6c63ff;
  border-radius: 8px;
  background-color: #e1e0ff;
  width: 100%;
}

.upload-container input[type="file"] {
  display: none;
}

.upload-container label {
  display: block;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.description {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.fileName .nameDisplay {
  padding: 10px;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  margin: 40px 0px 10px 0px;
}

.fileName .status {
  color: rgb(0, 237, 0);
  margin-bottom: 40px;
}

.fileName .incorectStatus {
  color: rgb(237, 0, 0);
}

.upload-box {
  border: 1px dashed #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.upload-container span {
  color: #6c63ff;
  text-decoration: underline;
}

.print-settings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.setting {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Print range */
.print-range {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.print-range h3 {
  margin-bottom: 10px;
}

.option,
.pagesNum .l,
.pagesNum .r {
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.option2 .pagesNum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.pagesNum .l,
.pagesNum .r {
  width: 50%;
}

.rInput {
  border: none;
}

.print-range input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.print-range input[type="text"] {
  margin-left: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Right panel */
.soleSetting select,
.setting select {
  padding: 10px;
}

.soleSetting {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.print-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.setting {
  display: flex;
  flex-direction: column;
}

.buttons {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.print-button,
.cancel-button {
  display: flex;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.print-button {
  background-color: rgb(0, 0, 197);
  color: white;
}

.print-button:hover {
  background-color: rgb(0, 0, 255);
  transform: translateY(-5px);
}

.cancel-button {
  border: 4px solid rgb(0, 0, 197);
  color: rgb(0, 0, 197);
}

.cancel-button:hover {
  background-color: rgb(0, 0, 197);
  color: white;
}

/* Printers List */
.listText {
  margin-top: 50px;
}

.pc {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.printer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  max-width: 100%;
}

.printer-item {
  text-align: center;
  margin: 0 10px;
  transition: transform 0.5s ease;
  padding: 10px;
  border-radius: 10px;
}

.printer-item:hover {
  transform: translateY(-5px);
  background-color: #e7e7e7;
}

.printer-icon {
  width: 100px;
  height: 100px;
}

.printer-name {
  margin-top: 10px;
  font-weight: bold;
}

.printer-id {
  color: gray;
  margin-top: 5px;
}

.printer-status {
  margin-top: 5px;
  font-weight: bold;
}

.printer-status.available {
  color: green;
}

.printer-status.processing {
  color: orange;
}

.printer-status.fixing {
  color: red;
}

.loadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.load-buttons {
  display: flex;
}

.load-more {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: transparent;
  margin-left: 10px;
}

.loadMoreImage {
  width: 30px;
  height: 30px;
}

.printer-list-container {
  display: flex;
  align-items: center;
}

.load-more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-grow: 0;
}

.prev-button,
.next-button {
  width: 40px;
}
