.history-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card:last-child {
  margin-right: 0;
}

.paperIcon {
  margin-right: 20px;
}

.printNfilter {
  display: flex;
  justify-content: space-between;
}

.info h3 {
  margin: 0;
  font-size: 16px;
}

.info p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filters input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
  border-radius: 50px;
}

.filters button {
  padding: 8px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filters button:hover {
  transform: scale(1.1);
  background-color: #cdcdcd;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  border: 1px solid #000000;
  padding: 20px;
  text-align: left;
  border: none;
  color: black;
  background-color: rgb(255, 255, 255);
}

.rounded-tbody tr:first-child td:first-child {
  border-top-left-radius: 20px;
}

.rounded-tbody tr:first-child td:last-child {
  border-top-right-radius: 20px;
}

.rounded-tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.rounded-tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.history-table th {
  background-color: #ffffff00;
  border: none;
  color: rgb(155, 155, 255);
  text-align: center;
}
