body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  width: 180vh;
  animation: fadeIn 1s;
  position: relative;
}

.left-side {
  width: 50%;
  background-image: url("./images/bg.png");
  background-size: cover;
  background-position: center;
}

.registerNoti,
.registerNotiError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 100px;
  border: 2px solid none;
  border-radius: 10px;
  color: white;
  animation: regNoti 1s;
}

.registerNoti {
  background-color: rgb(6, 184, 0);
}

.registerNotiError {
  background-color: rgb(255, 153, 0);
}

@keyframes regNoti {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-side form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.right-side form h1 {
  text-align: center;
  font-size: 25px;
  color: black;
  margin-bottom: 25px;
}

.right-side form label {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 10px;
}

.right-side form input {
  border-radius: 5px;
  flex-grow: 1;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 3px solid rgb(118, 173, 255);
  transition: border-color 0.5s ease;
  outline: none;
}

.right-side form input:focus {
  border: 4px solid rgb(0, 102, 255);
}

.right-side form .registerButton,
.right-side form .googleButton {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(50, 129, 248);
  width: 100%;
  transition: transform 0.3s ease, background-color 0.5s ease,
    font-size 0.5s ease;
  cursor: pointer;
  margin-top: 20px;
}

.right-side form .googleButton {
  background-color: rgb(131, 181, 255);
}

.right-side form .registerButton:hover,
.right-side form .googleButton:hover {
  background-color: rgb(0, 102, 255);
  transform: scale(1.05);
  font-size: 18px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GGLogo {
  height: 20px;
  margin-right: 20px;
}

.rUnderText {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.rLink {
  color: blue;
  text-decoration: none;
  margin-left: 15px;
  transition: transform 0.3s ease;
  font-size: 18px;
}

.rLink:hover {
  transform: translateY(-3px);
  font-weight: bold;
}

.right-side form .error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
